<div class="col-sm-10 offset-sm-1">
    <p class="col-sm-12" style="text-align: center; font-size: 26px; color: #2b7da5; font-weight: bolder;">
        Listado de Torneos
    </p>
    <div class="container-organizations">
        <ag-grid-angular
                style="height: 500px; padding: 0;"
                class="col-sm-12 ag-theme-balham"
                [rowData]="tableTournements.data"
                [columnDefs]="tableTournements.columnDefs"
                rowSelection="multiple"
        >
        </ag-grid-angular>
    </div>
</div>