.container-organizations {
    display: flex;
    justify-content: space-evenly;
}

.organization {
    background: #FFF;
    height: 140px;
    display: inline-block;
    padding: 0;
    margin: 0px 30px 20px 30px;
    transition: 0.5s;
}

.organization:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.organization:active {
    transform: rotate(10deg);
}

.organization > a > img {
    height: 80%;
    width: 100%;
    filter: brightness(95%);
    border: 1px solid rgba(50, 66, 86, 0.34);
    border-bottom: 0;
}

.organization > p {
    text-align: center;
    background-color: #324256;
    color: #fff;
    font-weight: bold;
    height: 20%;
}