/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


.ag-theme-balham .ag-header {
  background-color: #2b7da5;
  color: rgb(255, 255, 255);
}

.ag-theme-balham .ag-icon-menu {
  color: white;
}

.ag-theme-balham .ag-row-odd:not(.ag-row-selected) {
  background-color: #f1f1f1;
}
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

body {
  margin: 85vh 0px 0px 0px;
}

.full-background {
  position: fixed;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url('/assets/image/art/bg01.png') no-repeat center;
  background-size: 100% 100%;
  z-index: -10;
}

.container-custom {
  margin: 60px 0px 0px 0px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  overflow: hidden;
  padding: 30px 0px;
}

.footer {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(141deg, rgba(7, 32, 78, 0.94) 0%, rgba(88, 136, 195, 0.94) 51%, rgba(7, 32, 78, 0.94) 75%);
  color: #FFF;
}