<!-- Begin Menu -->
<div id="menu" class="menu">
    <ul class="row" style="margin: 0px; padding: 0; height: 100%; display: flex; justify-content: space-evenly; align-items: center;">
        <div class="col-sm-4" style="height: 100%; display: flex; align-items: center; justify-content: space-evenly; overflow: hidden;">
            <li style="overflow: hidden;"><a href="index.php">Inicio</a></li>
            <li style="overflow: hidden;"><a href="torneos.php">Torneos</a></li>
            <li style="overflow: hidden;"><a href="contactanos.php">Contactanos</a></li>
        </div>
        <div class="col-sm-4" style="height: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;">
            <li class="col-sm-12" id="barner_menu" style="height: 100%;">
                <a href="index.php" style="padding: 0px; line-height: 56px; font-size: 30px; word-spacing: 5px;">
                    Torneo Master
                    <!--<img src="/assets/image/art/barner.png" alt=""/>-->
                </a>
            </li>
        </div>
        <div class="col-sm-4" style="height: 100%; display: flex; align-items: center; justify-content: space-evenly; overflow: hidden;">
            <div class="col-sm-5" style="display: flex; justify-content: center; align-items: center;">
                <li style="overflow: hidden;" name='none'><a href="#">Iniciar Sesion</a></li>
            </div>
            <div class="col-sm-7" style="display: flex; justify-content: space-evenly; align-items: center;">

                <!--<li style="overflow: hidden;" name='none'><a href="#"><img src="/assets/image/icon-facebook.png" alt="Facebook"/></a></li>
                <li style="overflow: hidden;" name='none'><a href="#"><img src="/assets/image/icon-twitter.png" alt="Twitter"/></a></li>
                <li style="overflow: hidden;" name='none'><a href="#"><img src="/assets/image/icon-googleplus.png" alt="Google+"/></a></li>-->
            </div>
        </div>
    </ul>
</div>
<!-- End Menu -->