<!-- Begin Menu -->
<div id="menu" class="menu">
    <ul>
        <li><a href="index.php">Inicio</a></li>
        <li><a href="torneos.php">Torneos</a></li>
        <li><a href="contactanos.php">Contactanos</a></li>
        <li id="barner_menu"><a href="index.php"><img src="/assets/image/art/barner.png" alt="" /></a></li>
        <li name='none'><a href="#"><img src="/assets/image/icon-facebook.png" alt="Facebook" /></a></li>
        <li name='none'><a href="#"><img src="/assets/image/icon-twitter.png" alt="Twitter" /></a></li>
        <li name='none'><a href="#"><img src="/assets/image/icon-googleplus.png" alt="Google+" /></a></li>
    </ul>
    <br style="clear: left" />
</div>
<!-- End Menu -->