/* Header*/

#header
{
    padding: 30px 0 25px 0;
    display: block;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}
.mi_bg
{
    margin:0px;
    width:100% !important;
}
.superbgimage
{
    width:100% !important;
}

/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    border: 0;
    border-bottom: 1px solid #878787;
    /* box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6); */
    color: #dedede;
    list-style: none;
    font-weight: normal;
    width: 100%;
    height: 60px;
    padding: 0;
    background: linear-gradient(141deg, rgba(7, 32, 78, 0.94) 0%, rgba(16, 91, 183, 0.94) 51%, rgba(7, 32, 78, 0.94) 75%);
    /*background: linear-gradient(141deg, rgba(15, 129, 142, 0.94) 0%, rgba(88, 195, 148, 0.94) 51%, rgba(15, 129, 142, 0.94) 75%);*/
    /*background: linear-gradient(141deg, #0f818e 0%, #58c394 51%, #0f818e 75%);*/
    /* background: linear-gradient(-90deg, rgba(12, 147, 187, 0.9) 0%, rgba(73, 177, 208, 0.9) 50%, rgba(12, 147, 187, 0.9) 100%); */
    z-index: 1001;
}
.menu nav {
    margin: 0;
    list-style-type: none;
    font-family: 'Museo500';
    font-style: normal;
    letter-spacing: normal;
}
.menu nav div {
    padding: 0px;
}
.menu nav select {
    position: relative;
    display: inline;
    float: left;
    padding: 0;
    background: none;
}
.menu option {
    display: inline-block;
    padding: 0px;
    margin: 0px auto;
    text-decoration: none;
    border: 0px;
    color: #FFF;
    font-size: 18px;
    font-weight: bolder;
}
.menu ul li a:hover {
    color: #02B8BF;
}
.menu ul li[id='barner_menu']
{
    width: 50% !important;
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;
    position: relative;
}

.menu * {
    color: #FFF !important;
    text-align: center;
}

.menu select {
    font-size: 18px;
    color: #FFF !important;
    width: 90%;
    background: linear-gradient(141deg, rgba(7, 32, 78, 0.94) 0%, rgba(16, 91, 183, 0.94) 51%, rgba(7, 32, 78, 0.94) 75%) !important;
}
.menu select * {
    font-size: 14px;
    background: rgba(7, 32, 78, 0.94) !important;
}
.menu select {
    text-align: center;
    text-align-last: center;
    padding: 5px 0 !important;
    border: 0;
    border-radius: 5px 5px;
    background: rgba(255, 255, 255, 0.15) !important;
}

#barner_menu a
{
    margin: 0px !important;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}
#barner_menu a img
{
    margin: 0px !important;
    padding: 0px !important;
    width: 90%;
    height: 100%;
    display: inline-block;
}
.boton_salir{
    padding-top:13px;
    transform:translate(251px,0px);
    background: url("../../../assets/image/organizaciones/boton_salir.png") no-repeat;
    background-size:35px 35px;
}
/* Fin Del Header*/